<div class="order-detail card margintop30 padding15">
  <div class="shipment-order">
    <h2>Order Details</h2>
    <div class="shipment-order-detail">
      <strong>
        <label>Order Id</label>
      </strong>
      <p>12</p>
      <div class="clearfix"></div>
    </div>
    <div class="shipment-order-detail">
      <strong>
        <label>Order Pickup Type</label>
      </strong>
      <p>Sarokh</p>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="shipment-order">
    <div class="shipment-order-detail">
      <strong>
        <label>Shipment Type</label>
      </strong>
      <p>By mail</p>
    </div>
    <div class="shipment-order-detail">
      <strong>
        <label>Warehouse</label>
      </strong>
      <p>Sarokh Warehouse</p>
    </div>
  </div>

  <h2>Shipment Detail</h2>

  <table class="table table-resposive">
    <thead>
      <!-- <tr>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#detailsModal">
            Details
          </button>
        </tr> -->
      <tr>
        <th scope="col">Shipment ID</th>
        <th scope="col">Shipment Title</th>
        <th scope="col">Content</th>
        <th scope="col">Value</th>
        <th scope="col">Payment Type</th>
        <th scope="col">COD</th>
        <th scope="col">Receiver Name</th>
        <th scope="col">Receiver Contact</th>
        <th scope="col">Delivery Type</th>
        <th scope="col">Delivery Date </th>
        <th scope="col">Status</th>

      </tr>
    </thead>
    <tbody>
      <tr>

        <td>23232133</td>
        <td>John Doe</td>
        <td>John WSick</td>
        <td>422345676544</td>
        <td>dsfdsfsdf</td>
        <td>Islamabad</td>
        <td>422345676544</td>
        <td>dsfdsfsdf</td>
        <td>Islamabad</td>
        <td>dsfdsfsdf</td>
        <td>
          Active
        </td>
      </tr>
      <tr>

        <td>23232133</td>
        <td>John Doe</td>
        <td>John WSick</td>
        <td>422345676544</td>
        <td>dsfdsfsdf</td>
        <td>Islamabad</td>
        <td>422345676544</td>
        <td>dsfdsfsdf</td>
        <td>Islamabad</td>
        <td>dsfdsfsdf</td>
        <td>
          Active
        </td>
      </tr>
      <tr>

        <td>23232133</td>
        <td>John Doe</td>
        <td>John WSick</td>
        <td>422345676544</td>
        <td>dsfdsfsdf</td>
        <td>Islamabad</td>
        <td>422345676544</td>
        <td>dsfdsfsdf</td>
        <td>Islamabad</td>
        <td>dsfdsfsdf</td>
        <td>
          Active
        </td>
      </tr>
      <tr>

        <td>23232133</td>
        <td>John Doe</td>
        <td>John WSick</td>
        <td>422345676544</td>
        <td>dsfdsfsdf</td>
        <td>Islamabad</td>
        <td>422345676544</td>
        <td>dsfdsfsdf</td>
        <td>Islamabad</td>
        <td>dsfdsfsdf</td>
        <td>
          Active
        </td>
      </tr>
      <tr>

        <td>23232133</td>
        <td>John Doe</td>
        <td>John WSick</td>
        <td>422345676544</td>
        <td>dsfdsfsdf</td>
        <td>Islamabad</td>
        <td>422345676544</td>
        <td>dsfdsfsdf</td>
        <td>Islamabad</td>
        <td>dsfdsfsdf</td>
        <td>
          Active
        </td>
      </tr>
    </tbody>
  </table>
  <div class="shipper-detail-container mt-3">
    <h2>Sippment Delivery Status</h2>
    <label class="customise-radio-btn">Shipper Warehouse
      <input type="radio" checked="checked" name="radio">
      <span class="checkmark"></span>
    </label>
    <label class="customise-radio-btn">Dealer
      <input type="radio" name="radio">
      <span class="checkmark"></span>
    </label>
    <label class="customise-radio-btn">Driver
      <input type="radio" name="radio">
      <span class="checkmark"></span>
    </label>
    <label class="customise-radio-btn"> Sarokh Warehouse
      <input type="radio" name="radio">
      <span class="checkmark"></span>
    </label>
    <label class="customise-radio-btn"> Driver
      <input type="radio" name="radio">
      <span class="checkmark"></span>
    </label>
    <label class="customise-radio-btn"> Dealer
      <input type="radio" name="radio">
      <span class="checkmark"></span>
    </label>
    <label class="customise-radio-btn"> Receiver
      <input type="radio" name="radio">
      <span class="checkmark"></span>
    </label>
    <div class="clearfix"></div>
  </div>
</div>