<div class="row mt-4">
  <div class="col-12">
    <div class="card card-accent-primary">
      <div class="card-header">
        All Orders
      </div>
      <div class="card-body">
        <table #dataTable style="width:100%" class="display nowrap dataTable dtr-inline collapsed">
          <thead>
            <tr>
              <th scope="col">Field</th>
              <th scope="col">Value</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Order ID</td>
              <td>21313</td>
            </tr>
            <tr>
              <td>Shipper ID</td>
              <td>513513</td>
            </tr>
            <tr>
              <td>Order Type</td>
              <td>Pickup by Sarokh</td>
            </tr>
            <tr>
              <td>Order Type</td>
              <td>Pickup by Sarokh</td>
            </tr>
            <tr>
              <td>Shipment Classifcation</td>
              <td>Pickup by Sarokh</td>
            </tr>
            <tr>
              <td>Pick up Tariff </td>
              <td>Pickup by Sarokh</td>
            </tr>
            <tr>
              <td>Shipper Warehouse ID </td>
              <td>Pickup by Sarokh</td>
            </tr>
            <tr>
              <td>User ID </td>
              <td>Pickup by Sarokh</td>
            </tr>
            <tr>
              <td>Pickup timestamp </td>
              <td>Pickup by Sarokh</td>
            </tr>
            <tr>
              <td>Receiving timestamp</td>
              <td>Pickup by Sarokh</td>
            </tr>
            <tr>
              <td>
                Transit Time</td>
              <td>Pickup by Sarokh</td>
            </tr>
            <tr>
              <td> Receiving</td>
              <td>Pickup by Sarokh</td>
            </tr>
            <tr>
              <td>Receiving Location</td>
              <td>Pickup by Sarokh</td>
            </tr>
            <tr>
              <td>Total Worth</td>
              <td>Pickup by Sarokh</td>
            </tr>
            <tr>
              <td>Receiving</td>
              <td>Pickup by Sarokh</td>
            </tr>
            <tr>
              <td>Status</td>
              <td>Pickup by Sarokh</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer">
        <button class="btn btn-success" (click)="editRecord()">Edit</button>
      </div>
    </div>
  </div>
</div>