<div class="order-detail card margintop30 padding15">
  <!-- <button  class="btn btn-primary float-right" [useExistingCss]="true" printSectionId="print-section"
    ngxPrint>print</button>
  <button class="btn btn-primary">Cancel</button> -->
  <div id="print-section">
    <table class="table table-resposive">
      <tbody>
        <tr *ngFor="let shipment of selectedShipments">
          <h2>Order Details</h2>
          <table class="table table-resposive">
            <tbody>
              <tr>
                <td style="font-weight: bold; width: 20%;">Order Id</td>
                <td style="width: 30%;">{{selectedOrderData.orderId}}</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td style="font-weight: bold; width: 20%;">Ship From City</td>
                <td style="width: 30%;">{{selectedOrderData.shipFromCity}}</td>
                <td style="font-weight: bold; width: 20%;">Pickup Location</td>
                <td style="width: 30%;">{{selectedOrderData.pickupLocation}}</td>
              </tr>
              <tr>
                <td style="font-weight: bold; width: 20%;">Ship To City</td>
                <td style="width: 30%;">{{selectedOrderData.shipToCity}}</td>
                <td style="font-weight: bold; width: 20%;">Delivery Location</td>
                <td style="width: 30%;">{{selectedOrderData.deliveryLocation}}</td>
              </tr>
              <tr>
                <td style="font-weight: bold; width: 20%;">Assign To</td>
                <td style="width: 30%;">{{selectedOrderData.assignToDetail}}</td>
                <td style="font-weight: bold; width: 20%;">Order Date/Time</td>
                <td style="width: 30%;">{{selectedOrderData.createdDatetime}}</td>
              </tr>
            </tbody>
          </table>
          <h2 class="mt-3 mb-1">Receiver Detail</h2>
          <table class="table table-resposive">
            <tbody>
              <tr>
                <td style="font-weight: bold; width: 20%;">Receiver Name</td>
                <td style="width: 30%;">{{shipment.receiverName}}</td>
                <td style="font-weight: bold; width: 20%">Receiver Contact</td>
                <td style="width: 30%;">{{shipment.contact}}</td>
              </tr>
              <tr>
                <td style="font-weight: bold; width: 20%;">Receiver Address</td>
                <td style="width: 80%" colspan="3">{{shipment.address}}</td>
              </tr>
            </tbody>
          </table>
          <h2 class="mt-3 mb-1">Shipment Detail</h2>
          <table class="table table-resposive">
            <tbody>
              <tr>
                <td style="font-weight: bold; width: 20%;">Tracking No</td>
                <td style="width: 30%;">{{shipment.trackingNumber}}</td>
                <td style="font-weight: bold; width: 20%">Shipment Title</td>
                <td style="width: 30%;">{{shipment.shipmentTitle}}</td>
              </tr>
              <tr>
                <td style="font-weight: bold; width: 20%;">Content</td>
                <td style="width: 30%;">{{shipment.contact}}</td>
                <td style="font-weight: bold; width: 20%;">Additonal Services</td>
                <td style="width: 30%;">{{shipment.additionalServices}}</td>
              </tr>
              <tr>
                <td style="font-weight: bold; width: 20%;">Shipment Type</td>
                <td style="width: 30%;">{{shipment.shipmentType}}</td>
                <td style="font-weight: bold;">Weight</td>
                <td style="width: 30%;">{{shipment.weight}}</td>
              </tr>
              <tr>
                <td style="font-weight: bold; width: 20%;">Receiver Confirmation</td>
                <td>{{shipment.receiverConfirmation}}</td>
                <td style="font-weight: bold; width: 20%;">Delivered Date/Time</td>
                <td>{{shipment.deliveryDate}}</td>
              </tr>
            </tbody>
          </table>

          <h2 class="mt-3 mb-1">Payment Detail</h2>
          <table class="table table-resposive">
            <tbody>
              <tr>
                <td style="font-weight: bold; width: 20%;">Payment Type</td>
                <td style="width: 30%;">{{shipment.paymentType}}</td>
                <td style="font-weight: bold; width: 20%;">Shipment Value</td>
                <td style="width: 30%;">{{shipment.shipmentValue}}</td>
              </tr>
              <tr>
                <td style="font-weight: bold; width: 20%;">Delivery Charges</td>
                <td style="width: 30%;">{{shipment.shipmentDeliveryCharges}}</td>
                <td style="font-weight: bold; width: 20%;">COD Amount</td>
                <td style="width: 30%;">{{shipment.codAmount}}</td>
              </tr>
              <tr>
                <td style="font-weight: bold; width: 20%;">Shipment Billed Amount</td>
                <td style="width: 30%;">{{shipment.shipmentBilledAmount}}</td>
                <td style="font-weight: bold; width: 20%;"></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </tr>
      </tbody>
    </table>
    <div class="shipper-detail-container mt-3">
      <h2>Shipment Delivery Status</h2>
      <label class="customise-radio-btn">Shipper Warehouse
        <input type="radio" checked="checked" name="radio">
        <span class="checkmark"></span>
      </label>
      <label class="customise-radio-btn">Dealer
        <input type="radio" name="radio">
        <span class="checkmark"></span>
      </label>
      <label class="customise-radio-btn">Driver
        <input type="radio" name="radio">
        <span class="checkmark"></span>
      </label>
      <label class="customise-radio-btn"> Sarokh Warehouse
        <input type="radio" name="radio">
        <span class="checkmark"></span>
      </label>
      <label class="customise-radio-btn"> Driver
        <input type="radio" name="radio">
        <span class="checkmark"></span>
      </label>
      <label class="customise-radio-btn"> Dealer
        <input type="radio" name="radio">
        <span class="checkmark"></span>
      </label>
      <label class="customise-radio-btn"> Receiver
        <input type="radio" name="radio">
        <span class="checkmark"></span>
      </label>
      <div class="clearfix"></div>
    </div>
  </div>
</div>