<div class="card margintop50">
  <div class="card-header">
    Add Order
  </div>
  <div class="card-body">
 
    <div class="wizard-container">
      <aw-wizard>
        <aw-wizard-step stepTitle="Basic Information" [canExit]="orderBasicInfoForm.valid">
          <form class="margintop30" [formGroup]="orderBasicInfoForm">
            <div class="form-row" style="display: none;">
              <div class="form-group col-md-6">
                <label for="orderId">Order Id</label>
                <input type="text" readonly class="form-control" id="orderId" placeholder="Order Id" formControlName="orderId">
              </div>
              <div class="form-group col-md-6">
                <label for="shipperId">Shipper Id</label>
                <input type="text" readonly class="form-control" id="shipperId" placeholder="Shipper Id" formControlName="shipperId">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="shipFromCity">Ship From </label>
                <select class="form-control" id="shipFromCity" formControlName="shipFromCity">
                  <option value="">--- Ship From City ---</option>
                  <option [value]="city.name" *ngFor="let city of citylist">{{city.name}}
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="shipToCity">Ship to</label>
                <select class="form-control" id="shipToCity" formControlName="shipToCity">
                  <option value="">--- Ship To City ---</option>
                  <option [value]="city.name" *ngFor="let city of citylist">{{city.name}}
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-12">
                <div class="btn-container float-left">
                  <button type="button" class="btn btn-danger" (click)="closeAdd()">Cancle</button>
                </div>
                <div class="btn-container float-right">
                  <button class="btn btn-success" type="button" (click)="ShowErrorWarehouseManager()" awNextStep>Next Step
                  </button>
                </div>
              </div>
            </div>
          </form>
        </aw-wizard-step>
        <aw-wizard-step stepTitle="Pick Up & Delivery Information" [canExit]="pickupAndDelivery.valid">
          <form class="margintop30" [formGroup]="pickupAndDelivery">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="pickupType">Pick Up Location</label>
                <select class="form-control" id="pickupType" formControlName="pickupType" (change)="selectedpickuplocation($event.target.value)">
                  <option value="">Pick up Location</option>
                  <!-- <option [value]="user.id" *ngFor="let user of template.users">{{user.fullName}}</option> -->
                  <option value="DealerPoint">From Sarokh Points</option>
                  <option value="ShipperWarehouse">From Shipper Warehouse</option>
                  <option value="SarokhWarehouse">From Sarokh Warehouse</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="deliveryLocation">Delivery Location</label>
                <select class="form-control" id="deliveryLocation" (change)="todealerpoint($event.target.value)" formControlName="deliveryLocation">
                  <option value="">Delivery Location </option>
                  <!-- <option [value]="user.id" *ngFor="let user of template.users">{{user.fullName}}</option> -->
                  <option value="To Sarokh Point">To Sarokh Point</option>
                  <option value="To Predefined Location">To Predefined Location</option>
                </select>
              </div>
              <div class="form-group col-md-6" *ngIf="sarokhWarehousesList">
                <label for="sarokhWarehouseId">Sarokh Warehouse</label>
                <select class="form-control" id="sarokhWarehouseId" formControlName="sarokhWarehouseId">
                  <option value="">--- Select Sarokh Warehouse ---</option>
                  <option [value]="warehouse.id" *ngFor="let warehouse of sarokhWarehouses">{{warehouse.name}}
                  </option>
                </select>
              </div>
              <div class="form-group col-md-6" *ngIf="shipperWarehousesList">
                <label for="deliveryLocation`">Shipper Warehouse</label>
                <select class="form-control" id="shipperWarehouseId" formControlName="shipperWarehouseId">
                  <option value="">--- Select Shipper Warehouse ---</option>
                  <option [value]="warehouse.id" *ngFor="let warehouse of shipperWarehouses">{{warehouse.name}}
                  </option>
                </select>
              </div>
              <div class="form-group col-md-6" *ngIf="dealerPointList">
                <label name="sarokhPointRadio">Sarokh Point</label>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="sarokhPointRadio" (change)="checkSarokhPoint($event)" formControlName="sarokhPointRadio"
                    id="indeliverycase" value="indeliverycase" checked>
                  <label class="form-check-label" for="indeliverycase">
                    In case of delivery to Sarokh Point
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="sarokhPointRadio" (change)="checkSarokhPoint($event)" formControlName="sarokhPointRadio"
                    id="selectNow" value="selectNow">
                  <label class="form-check-label" for="selectNow">
                    Select Sarokh Point Now
                  </label>
                </div>
              </div>
              <div class="form-group col-md-6" *ngIf="showsarokhpointdropdown">
                <label for="concernPerson">Sarokh Point</label>
                <select class="form-control" id="dealerPointId" formControlName="dealerPointId">
                  <option value="">--- Select Sarokh Point ---</option>
                  <option [value]="dealer.id" *ngFor="let dealer of alldealers">{{dealer.firstName}}
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="col-sm-12">
                <div class="btn-container float-left">
                  <button type="button" class="btn btn-danger" (click)="closeAdd()">Cancle</button>
                </div>
                <div class="btn-container float-right">
                  <button class="btn btn-secondary dark-grey" type="button" awPreviousStep>Go to previous step</button>
                  <button class="btn btn-success" type="button" (click)="ShowErrorPickupAndDelivery()" awNextStep>Next step</button>
                </div>
              </div>
            </div>
          </form>
        </aw-wizard-step>
        <aw-wizard-step stepTitle=" Shipment Information" [canExit]="shipmentInformation.valid">
          <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
            <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
              (dragEnd)="markerDragEnd($event)"></agm-marker>
          </agm-map>
          <div class="form-row">
            <div class="form-group col-md-6">
              <!-- <h5>Address: {{address}}</h5> -->
              <div>Latitude: {{latitude}}</div>
           
              </div>
              <div class="form-group col-md-6">
                <div>Longitude: {{longitude}}</div>
              </div>
              </div>
          <form class="margintop30" [formGroup]="shipmentInformation">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="receiverName">Receiver Name</label>
                <input type="text" class="form-control" id="receiverName" formControlName="receiverName" placeholder="Receiver Name">
              </div>
              <div class="form-group col-md-6">
                <label for="receiverMobileNumber">Receiver Contact No</label>
                <input type="number" class="form-control" id="receiverMobileNumber" formControlName="receiverMobileNumber" placeholder="Receiver Contact No">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="receiverAddress">Receiver Address</label>
                <input type="text" class="form-control" id="receiverAddress" formControlName="receiverAddress" placeholder="Receiver Address">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Shipment Type</label>
                <select class="form-control" id="sel1" formControlName="shipmentType">
                  <option value="">Shipment Type</option>
                  <option value="Electronics">Electronics</option>
                  <option value="General Goods">General Goods</option>
                  <option value="Apparel">Apparel</option>
                  <option value="Others">Others</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="weight">Shipment Weight</label>
                <select class="form-control" id="sel1" formControlName="weight">
                  <option value="">Shipment Weight</option>
                  <option value="Upto 5 kg">Upto 5 kg</option>
                  <option value="5 kg to 10 kg"> 5 kg to 10 kg</option>
                  <option value="Above 15 kg">Above 15 kg</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="shipmentName">Shipment Title</label>
                <input type="text" class="form-control" formControlName="shipmentTitle" id="shipmentName" placeholder="Shipment Name">
              </div>
              <div class="form-group col-md-6">
                <label for="shipmentcontent">Shipment Content</label>
                <!-- <input type="text" class="form-control" formControlName="shipmentContent" id="content" placeholder="Content"> -->
                <textarea style="resize: none;" class="form-control" formControlName="shipmentContent" id="content" placeholder="Shipment Content"></textarea>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="shipmentValue">Shipment Value (SAR)</label>
                <input type="text" class="form-control" formControlName="shipmentValue" id="value" placeholder="Shipment Value">
              </div>
              <div class="form-group col-md-6">
                <label for="deliveryCharges">Delivery Charges (SAR)</label>
                <input type="text" class="form-control" formControlName="deliveryCharges" id="deliveryCharges" placeholder="Delivery Charges">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Payment Type</label>
                <select class="form-control" id="paymentType" (change)="fetchDetails($event.target.value)" formControlName="paymentType">
                  <option value="">Payment Type</option>
                  <option value="COD">Cash On Delivery(COD)</option>
                  <option value="Prepaid">Prepaid</option>
                </select>
              </div>
              <div class="form-group col-md-6" *ngIf="shipmentInformation.value.paymentType == 'COD'">
                <label for="codAmount">COD Amount (SAR)</label>
                <input (input)="codAmountCalculation($event.target.value)" type="text" class="form-control" formControlName="codAmount" id="codAmount"
                  placeholder="COD Amount">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="billedAmount">Receiver Billed Amount</label>
                <input disabled type="text" class="form-control" formControlName="billedAmount" id="billedAmount" placeholder="Billed Amount">
              </div>
              <div class="form-group col-md-6">
              

              
              </div>
            </div>
            <div class="form-row ml-3 mb-4 mt-4">
              <div *ngFor="let data of additionalServices; let i=index">
                <label class="mr-3">
                  <input type="checkbox" [value]="data.value" (change)="onCheckboxChange($event)" /> {{data.name}}
                </label>
              </div>
            </div>
            <div class="form-row">
              <div class="col-sm-12">
                <div class="btn-container float-left">
                  <button type="button" class="btn btn-danger" (click)="closeAdd()">Cancle</button>
                </div>
                <div class="btn-container float-right">
                  <button [disabled]="!shipmentInformation.valid" class="btn btn-success" type="button" (click)="AddandCreateNew(shipmentInformation)">Finish
                  </button>
                </div>
                <div class="btn-container float-right mr-2 mb-4">
                  <!-- <button [disabled]="!shipmentInformation.valid" class="btn btn-success" type="button"
                    (click)="finishFunction()">Finish</button> -->
                </div>
                <div class="clearfix"></div>
                <small style="color: #ec1c24 !important;">Prepaid means that you will be obliged to pay the shipping charges mentioned below Cash on Delivery (COD)
                  are the total charges that will be collected from the receiver upon delivery. This includes the Shipping
                  charges that are to be paid to Sarokh.</small>
              </div>
            </div>
          </form>
          <button class="btn btn-primary mt-3" type="button" [routerLink]="['/shipper/pendingshipments']">Publish</button>
          <div class="col-sm-12" style="margin: 25px 0 00 0;">
            <table #dataTable style="width:100%" class="dataTable table-responsive pb-3">
              <thead>
                <tr>
                  <th scope="col">Actions</th>
                  <th scope="col">Receiver Name</th>
                  <th scope="col">Receiver Contact</th>
                  <th scope="col">Reciver Address</th>
                  <th scope="col">Shipment Type</th>
                  <th scope="col">Shipment Weight</th>
                  <th scope="col">Additional Services</th>
                  <th scope="col">Payment Type</th>
                  <th scope="col">COD Amount</th>
                  <th scope="col">Shipment Cost</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let shipment of shipmentInformationArray">
                  <td>
                    <i style="font-size: 20px; margin-right: 15px; color: #337ab7;" (click)="editShipment(shipment)" class="fa fa-pencil"></i>
                    <i style="font-size: 20px;  color: #d9534f;" (click)="deleteShipment()" class="fa fa-trash-o"></i>
                  </td>
                  <td>{{shipment.receiverName}}</td>
                  <td>{{shipment.receiverMobileNumber}}</td>
                  <td>{{shipment.receiverAddress}}</td>
                  <td>{{shipment.shipmentType}}</td>
                  <td>{{shipment.weight}}</td>
                  <td>{{shipment.additionalServices}}</td>
                  <td>{{shipment.paymentType}}</td>
                  <td>{{shipment.codAmount}}</td>
                  <td>{{shipment.billedAmount}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </aw-wizard-step>
      </aw-wizard>
    </div>
  </div>
</div>