<div class="row mt-4">
  <div class="col-12">
      <div class="card card-accent-primary">
        <div class="card-header">
          All Orders
        </div>
        <div class="card-body">
          <!-- <form> -->
            <div class="form-row mb-3">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Order ID">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Shipper ID">
                </div>
            </div>
            <div class="form-row mb-3">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Order Type">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Shipment classification">
                </div>
            </div>
            <div class="form-row mb-3">
                <div class="col">
                    <input type="text" class="form-control" placeholder="pickup tariff">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Shipper Warehouse ID">
                </div>
            </div>
            <div class="form-row mb-3">
                <div class="col">
                    <input type="text" class="form-control" placeholder="User ID">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Pickup Timestamp">
                </div>
            </div>
            <div class="form-row mb-3">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Receiving Timestamp">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Transit Time">
                </div>
            </div>
            <div class="form-row mb-3">

                <div class="col">
                    <input type="text" class="form-control" placeholder="Receiving">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Receiving Location">
                </div>
            </div>
            <div class="form-row mb-3">

                <div class="col">
                    <input type="text" class="form-control" placeholder="Total Worth">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Receiving">
                </div>
            </div>
            <div class="form-row mb-3">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Status">
                </div>
            </div>

        <!-- </form> -->
        </div>
        <div class="card-footer">
          <button class="btn btn-success">Submit</button>
        </div>
      </div>
  </div>
</div>
