<div class="card card-accent-primary mt-4 users-listing">
    <div class="card-header">
        Inventory
        <div class="clearfix"></div>
    </div>
    <div class="card-body">
        <table style="width:100%" class="display nowrap dataTable dtr-inline collapsed table-responsive">
            <thead>
                <tr>
                    <th scope="col">Order ID</th>
                    <th scope="col">Date/Name</th>
                    <th scope="col">Tracking Number</th>
                    <th scope="col">Receiver Name</th>
                    <th scope="col">Receiver Contact Number</th>
                    <th scope="col">Status</th>
                    <th scope="col">COD Amount</th>
                    <th scope="col">Pre-paid</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>12</td>
                    <td>1 june 2000</td>
                    <td>123445</td>
                    <td>Hamid Shah</td>
                    <td>03451234567</td>
                    <td>wwrrrw</td>
                    <td>SR 300</td>
                    <td>wqeqeq</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>1 june 2000</td>
                    <td>123445</td>
                    <td>Hamid Shah</td>
                    <td>03451234567</td>
                    <td>wwrrrw</td>
                    <td>SR 300</td>
                    <td>wqeqeq</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>1 june 2000</td>
                    <td>123445</td>
                    <td>Hamid Shah</td>
                    <td>03451234567</td>
                    <td>wwrrrw</td>
                    <td>SR 300</td>
                    <td>wqeqeq</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>1 june 2000</td>
                    <td>123445</td>
                    <td>Hamid Shah</td>
                    <td>03451234567</td>
                    <td>wwrrrw</td>
                    <td>SR 300</td>
                    <td>wqeqeq</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>1 june 2000</td>
                    <td>123445</td>
                    <td>Hamid Shah</td>
                    <td>03451234567</td>
                    <td>wwrrrw</td>
                    <td>SR 300</td>
                    <td>wqeqeq</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div>
</div>