<div class="row mt-4">
    <div class="col-12">
        <div class="card card-accent-primary">
            <div class="card-header">
                Receive Order
            </div>
            <div class="card-body">
                <div class="form-row mb-3">
                    <div class="col-sm-6">
                        <form #login="ngForm" (ngSubmit)="enterInputTracking(login.value)">
                            <div class="form-row">
                                <label style="width: 100%;">Input Tracking No </label>
                                <div class="clearfix"></div>
                                <input class="form-control col-sm-9 mr-2" placeholder="Tracking No" name="inputTracking" [(ngModel)]="inputTracking" required
                                />
                                <input class="btn btn-primary col-sm-2" type="submit" value="submit">
                                <div class="clearfix"></div>
                            </div>
                        </form>
                    </div>
                </div>
                <div *ngIf="showAssignCard">

                    <form [formGroup]="reciveOrderForm" (ngSubmit)="submit()">
                        <div class="form-row">
                            <div class="col-sm-6">
                                <label style="width: 100%;">Assign Card</label>
                                <div class="clearfix"></div>
                                <input class="form-control" placeholder="Card ID" formControlName="cardNumber" name="cardNumber" />
                                <!-- <input class="btn btn-primary col-sm-2" type="submit" value="submit"> -->
                                <div class="clerfix"></div>
                            </div>
                            <div class="col-sm-6">
                                <label>Select warehouse</label>
                                <div class="clearfix"></div>
                                <select id="selectid" class="form-control" formControlName="warehouseId">
                                    <option value="">---Select Warehouse---</option>
                                    <option [value]="warehouse.id" *ngFor="let warehouse of warehouses">{{warehouse.name}}</option>
                                </select>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-row">
                            <div class="col-sm-12">
                                <button class="btn btn-primary float-right mt-3 mb-3" type="submit">Submit</button>
                            </div>
                        </div>
                    </form>

                </div>

                <div *ngIf="shipments != null">
                    <table style="width:100%" class="display nowrap dataTable dtr-inline collapsed table-responsive">
                        <thead>
                            <tr>
                                <th scope="col">Tracking Number</th>
                                <th scope="col">Title</th>
                                <th scope="col">Shipment Content</th>
                                <th scope="col">Delivery Status</th>
                                <th scope="col">Reciver Name</th>
                                <th scope="col">Contact</th>
                                <th scope="col">Email</th>
                                <th scope="col">Dimensions</th>
                                <th scope="col">Weight</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let shipment of shipments">
                                <td>{{shipment.trackingNumber}}</td>
                                <td>{{shipment.shipmentTitle}}</td>
                                <td>{{shipment.shipmentContent}}</td>
                                <td>{{shipment.deliveryStatus}}</td>
                                <td>{{shipment.receiverName}}</td>
                                <td>{{shipment.contact}}</td>
                                <td>{{shipment.email}}</td>
                                <td>{{shipment.dimensions}}</td>
                                <td>{{shipment.weight}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>