<div class="card card-accent-primary mt-4 users-listing">
    <div class="card-header">
        Pickup Shipments
        <div class="clearfix"></div>
    </div>
    <div class="card-body">
        <table style="width:100%" class="display nowrap dataTable dtr-inline collapsed table-responsive">
            <thead>
                <tr>
                    <th></th>
                    <th scope="col">Tracking No</th>
                    <th scope="col">Date/Time</th>
                    <th scope="col">Delivery Location</th>
                    <th scope="col">Assigned To Driver</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let shipments of pickupShipments">
                    <td>
                        <i style="font-size: 20px; color: #337ab7;" (click)=viewOrder(shipments.id) class="fa fa-info-circle float-right mr-2 mb-3"></i>
                    </td>
                    <td>{{shipments.shipmentId}}</td>
                    <td>{{shipments.dateTime}}</td>
                    <td>{{shipments.deliveryLocation}}</td>
                    <td>{{shipments.assignToDriver}}</td>
                    <td>{{shipments.status}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div>
</div>