<div class="card card-accent-primary mt-4 users-listing">
    <div class="card-header">
        Shipment Issues
        <div class="clearfix"></div>
    </div>
    <div class="card-body">
        <table style="width:100%" class="display nowrap dataTable dtr-inline collapsed table-responsive">
            <thead>
                <tr>
                    <th></th>
                    <th scope="col">Tracking No</th>
                    <th scope="col">Shipment ID</th>
                    <th scope="col">Reported By</th>
                    <th scope="col">Issue Type</th>
                    <th scope="col">Note</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let Issues of shipmentIssues">
                    <td>
                        <i style="font-size: 20px; color: #337ab7;" (click)=viewOrder(Issues.id) class="fa fa-info-circle float-right mr-2 mb-3"></i>
                    </td>
                    <td>{{Issues.orderId}}</td>
                    <td>{{Issues.shipmentId}}</td>
                    <td>{{Issues.reportedBy}}</td>
                    <td>{{Issues.issueType}}</td>
                    <td>{{Issues.notes}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div>
</div>