<div class="card card-accent-primary mt-4 users-listing">
    <div class="card-header">
        COD Return
        <div class="clearfix"></div>
    </div>
    <div class="card-body">
        <table style="width:100%" class="display nowrap dataTable dtr-inline collapsed table-responsive">
            <thead>
                <tr>
                    <th scope="col">Dealer ID</th>
                    <th scope="col">Ledger ID</th>
                    <th scope="col">Current Balance</th>
                    <th scope="col">Payable</th>
                    <th scope="col">Due Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let Cod of codReturn">
                    <td>{{Cod.dealerId}}</td>
                    <td>{{Cod.ledgerId}}</td>
                    <td>{{Cod.currentBalance}}</td>
                    <td>{{Cod.payable}}</td>
                    <td>{{Cod.dueAmount}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div>
</div>