<div class="card card-accent-primary mt-4 users-listing">
    <div class="card-header">
        Service Charges
        <div class="clearfix"></div>
    </div>
    <div class="card-body">
        <table style="width:100%" class="display nowrap dataTable dtr-inline collapsed table-responsive">
            <thead>
                <tr>
                    <th scope="col">Dealer ID</th>
                    <th scope="col">Ledger ID</th>
                    <th scope="col">Current Balance</th>
                    <th scope="col">Receivable</th>
                    <th scope="col">Payable</th>
                    <th scope="col">Due Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>12</td>
                    <td>897</td>
                    <td>560</td>
                    <td>500</td>
                    <td>400</td>
                    <td>300</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>897</td>
                    <td>560</td>
                    <td>500</td>
                    <td>400</td>
                    <td>300</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>897</td>
                    <td>560</td>
                    <td>500</td>
                    <td>400</td>
                    <td>300</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>897</td>
                    <td>560</td>
                    <td>500</td>
                    <td>400</td>
                    <td>300</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>897</td>
                    <td>560</td>
                    <td>500</td>
                    <td>400</td>
                    <td>300</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div>
</div>