<link href="https://fonts.googleapis.com/css?family=Poppins:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
    rel="stylesheet">
<div class="card card-accent-primary borderradius40 margintop30">
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="profile__header">
                    <h4 class=" float-left">{{shipperdata.fullName}}</h4>
                    <!-- <div class="profile__avatar float-right">
                        <img alt="..." src="../../../../assets/Souq_Logo.svg">
                    </div> -->
                    <div class="clearfix"></div>
                    <!-- <div class="row margintop10">
                        <div class="d-flex flex-row col-md-4">
                            <div class="icon color-default fs-20 mr-10">
                                <i class="fa fa-user"></i>
                            </div>
                            <div>
                                <p>John Doe</p>
                            </div>
                        </div>
                        <div class="d-flex flex-row col-md-4">
                            <div class="icon color-default fs-20 mr-10">
                                <i class="fa fa-envelope"></i>
                            </div>
                            <div>
                                <p>johndoe@gmail.com</p>
                            </div>
                        </div>
                        <div class="d-flex flex-row col-md-4">
                            <div class="icon color-default fs-20 mr-10">
                                <i class="fa fa-mobile"></i>
                            </div>
                            <div>
                                <p>03361234568</p>
                            </div>
                        </div>
                    </div> -->
                </div>
                <div>
                    <div class="float-left mt-2">
                        <div *ngIf="showDetails">
                            <div class="float-left mt-2">
                                <div class="icon color-default fs-20 mr-10 float-left">
                                    <i class="fa fa-user"></i>
                                </div>
                                <div style="display: inline-block;margin-right: 30px;">
                                    <p>{{shipperdata.userName}}</p>
                                </div>
                            </div>
                            <div class="float-left mt-2">
                                <div class="icon color-default fs-20 mr-10 float-left">
                                    <i class="fa fa-envelope"></i>
                                </div>
                                <div style="display: inline-block;margin-right: 30px;">
                                    <p>{{shipperdata.email}}</p>
                                </div>
                            </div>
                            <div class="float-left mt-2">
                                <div class="icon color-default fs-20 mr-10 float-left">
                                    <i class="fa fa-mobile"></i>
                                </div>
                                <div style="display: inline-block; margin-right: 30px;">
                                    <p>{{shipperdata.contact}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ">
                    <div class="row mt-2">
                        <div class="flex-row col-md-6">
                            <div class="thumnail-box">
                                <div class="icon color-default fs-26 mr-10 float-left">
                                    <i class="fa fa-usd font40"></i>
                                </div>
                                <div class="float-left">
                                    <p>
                                        <span class="font20">SAR {{shipperdashboard.totalEarning}}/-</span>
                                        <br>Total Earning</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="flex-row col-md-6">
                            <div class="thumnail-box">
                                <div class="icon color-default fs-26 mr-10 float-left">
                                    <i class="fas fa-dolly-flatbed font40"></i>
                                </div>
                                <div class="float-left">
                                    <p>
                                        <span class="font20">{{shipperdashboard.completedOrders}}</span>
                                        <br>Completed Orders</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="flex-row col-md-6">
                            <div class="thumnail-box">
                                <div class="icon color-default fs-26 mr-10 float-left">
                                    <i class="fa fa-money font40"></i>
                                </div>
                                <div class="float-left">
                                    <p>
                                        <span class="font20">SAR {{shipperdashboard.pendingDeliveryCharges}}/-</span>
                                        <br>Pending Delivery Charges</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="flex-row col-md-6">
                            <div class="thumnail-box">
                                <div class="icon color-default fs-26 mr-10 float-left">
                                    <i class="fa fa-money font40"></i>
                                </div>
                                <div class="float-left">
                                    <p>
                                        <span class="font20">SAR {{shipperdashboard.pendingCOD}}/-</span>
                                        <br>Pending COD</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="flex-row col-md-6">
                            <div class="thumnail-box">
                                <div class="icon color-default fs-26 mr-10 float-left">
                                    <i class="fas fa-dolly-flatbed font40"></i>
                                </div>
                                <div class="float-left">
                                    <p>
                                        <span class="font20">{{shipperdashboard.totalOrders}}</span>
                                        <br>Total Orders</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="flex-row col-md-6">
                            <div class="thumnail-box">
                                <div class="icon color-default fs-26 mr-10 float-left">
                                    <i class="fas fa-dolly-flatbed font40"></i>
                                </div>
                                <div class="float-left">
                                    <p>
                                        <span class="font20">{{shipperdashboard.pendingOrders}}</span>
                                        <br>Pending Order (pickups)</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                        <div class="flex-row col-md-6">
                            <div class="thumnail-box">
                                <div class="icon color-default fs-26 mr-10 float-left">
                                    <i class="fas fa-dolly-flatbed font40"></i>
                                </div>
                                <div class="float-left">
                                    <p>
                                        <span class="font20">{{shipperdashboard.returnOrders}}</span>
                                        <br>Return Orders</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="flex-row col-md-6">
                            <div class="thumnail-box">
                                <div class="icon color-default fs-26 mr-10 float-left">
                                    <i class="fas fa-dolly-flatbed font40"></i>
                                </div>
                                <div class="float-left">
                                    <p>
                                        <span class="font20">{{shipperdashboard.ordersPendingDeliveries}}</span>
                                        <br>Order Pending Deliveries</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="flex-row col-md-6">
                            <div class="thumnail-box">
                                <div class="icon color-default fs-26 mr-10 float-left">
                                    <i class="fa fa-exclamation-circle font40"></i>
                                </div>
                                <div class="float-left">
                                    <p>
                                        <span class="font20">{{shipperdashboard.activeShipmentIssues}}</span>
                                        <br>Active Shipment Issues</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <h4>Shipper Users</h4>
                    <div *ngFor="let user of shipperdashboard.usersList" class="profile__avatar-small">
                        <img src="../../../../../assets/img/avatar-png-icon-6.png" alt="" title="{{user}}">
                    </div>
                    <!-- <div class="profile__avatar-small">
                        <img src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="...">
                    </div>
                    <div class="profile__avatar-small">
                        <img src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="...">
                    </div>
                    <div class="profile__avatar-small">
                        <img src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="...">
                    </div>
                    <div class="profile__avatar-small">
                        <img src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="...">
                    </div> -->
                    <div class="profile__avatar_small_addnew">
                        <a [routerLink]="['/user/add']">
                            <i class="fa fa-user-plus" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="profile__avatar_small_addnew marginleft10">
                        <a [routerLink]="['/user']">
                            <i class="fa fa-group" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div>
                        <!-- <highcharts-chart [Highcharts]="highcharts" [options]="chartOptions" style="width: 100%; height: 400px; display: block;">
                        </highcharts-chart> -->
                    </div>
                </div>
            </div>
        </div>
    </div>