.profile__avatar {
    width: 100px;
    height: 100px;
    float: left;
    border-radius: 10%;
    margin-right: 20px;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}
.profile__header {
    /* overflow: hidden; */
    font-family: 'Poppins', sans-serif;
}
.panel-body :first-child {
    margin-top: 0; vertical-align: top;
}
.profile__header p {
    margin: 10px 0;
    font-family: 'Poppins', sans-serif;
}
.text-muted {
    color: 
    #777;
    font-family: 'Poppins', sans-serif;
}
profile__header p {
    margin: 20px 0;
    font-family: 'Poppins', sans-serif;
}
.panel-body{padding: 25px;}
.profile__avatar > img {
    width: 100%;
    height: auto;
    font-family: 'Poppins', sans-serif;
}
.fs-26 {
    font-size: 26px !important;font-family: 'Poppins', sans-serif;
}
.fs-20 {
    font-size: 20px !important;font-family: 'Poppins', sans-serif;
}
.mr-10{
    margin-right: 10px !important;font-family: 'Poppins', sans-serif;
}
.profile__avatar-small{width: 50px;
    height: 50px;
    float: left;
    border-radius: 50%;
    margin-right: -20px;
    overflow: hidden;font-family: 'Poppins', sans-serif;}
.profile__avatar-small > img {
        width: 100%;
        height: auto;font-family: 'Poppins', sans-serif;
    }
.margintop30{margin-top: 30px !important;font-family: 'Poppins', sans-serif;}
.marginbottom10{margin-bottom: 10px;font-family: 'Poppins', sans-serif;}
.profile__header h4{font-size: 45px;}
.profile__header p{font-size: 19px;}
.profile__header i{font-size: 25px;}
.profile__avatar_small_addnew{ margin-left: 45px; float: left;}
.profile__avatar_small_addnew i{font-size: 24px; margin-top: 10px !important;}
.marginleft10{margin-left: 10px;}
.margintop10{margin-top: 10px !important;}
.font40{font-size: 30px;}
.font20{font-size: 20px; font-weight: bold;}
.borderradius40{border-radius: 40px;}
.thumnail-box{margin-bottom: 15px;background-color: #f0f3f5;border: 1px solid #e4e7ea;color: #73818f;padding: 18px 15px 9px 15px;border-radius: 8px;font-size: 12px;}
