<div class="card card-accent-primary mt-4 users-listing" *ngIf="showlisting">
  <div class="card-header">
    All Shipments

    <div class="clearfix"></div>
  </div>
  <div class="card-body">
    <table style="width:100%" class="display nowrap dataTable dtr-inline collapsed table-responsive">
      <thead>
        <!-- <tr>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#detailsModal">
            Details
          </button>
        </tr> -->
        <tr>
          <th scope="col">Actions</th>
          <th scope="col">Shipment ID</th>
          <th scope="col">Creation Date/Time</th>
          <th scope="col">Pickup Type</th>
          <th scope="col">Delivery Type</th>
          <th scope="col">Receiver Name</th>
          <th scope="col">Status</th>
   
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let shipment of shipments">
          <td> <i style="font-size: 20px;  color: #d9534f;" (click)="deleteOrder(shipment.id)" class="fa fa-trash-o float-right mr-2 mb-3"></i>
            <button class="btn btn-danger float-right mr-2 mb-3">Delete</button> -->
            <button class="btn btn-primary float-right mr-2 mb-3" (click)=viewOrder()>Detail</button>
            <i style="font-size: 20px; color: #337ab7;" (click)=viewOrder(shipment.id) class="fa fa-info-circle float-right mr-2 mb-3"></i>
            <i style="font-size: 20px; color: #337ab7;" (click)="editOrder(shipment.id , false)" class="fa fa-pencil float-right mr-2 mb-3"></i></td>
          <td>{{shipment.orderId}}</td>
          <td>{{shipment.dateTime}}</td>
          <td>{{shipment.pickType}}</td>
          <td>{{shipment.deliveryType}}</td>
          <td>{{shipment.receiverName}}</td>
          <td>{{shipment.status}}</td>
      

          <!-- <td>
            <button class="btn btn-info">Edit</button>
            <button class="btn btn-primary" (click)="editUuser(user.userId , false)">Edit</button>
              <button class="btn btn-danger" (click)="deleteUSer(user.userId)">Delete</button>
          </td> -->

        </tr>
      </tbody>
    </table>
  </div>
</div>

<app-add-order *ngIf="!showlisting" (showlisting)="addNew($event)"></app-add-order>