<div class="card card-accent-primary mt-4 users-listing">
  <div class="card-header">
    Pending Shipment
    <div class="clearfix"></div>
  </div>
  <div class="card-body">
    <table style="width:100%" class="display nowrap dataTable dtr-inline collapsed table-responsive">
      <thead>
        <!-- <tr>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#detailsModal">
            Details
          </button>
        </tr> -->
        <tr>
          <th scope="col">Order Id</th>
          <th scope="col">Reciver Name</th>
          <th scope="col">Payment Type</th>
          <th scope="col">COD Amount</th>
          <th scope="col">Status</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pendingshipment of pendingshipments">
          <td>{{pendingshipment.orderId}}</td>
          <td>{{pendingshipment.receiverName}}</td>
          <td>{{pendingshipment.paymentType}}</td>
          <td>{{pendingshipment.codAmount}}</td>
          <td>{{pendingshipment.status}}</td>
          <td>{{pendingshipment.dateTime | date}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>