<!-- <div class="row mt-4">
  <div class="col-12">
    <div class="card card-accent-primary">
      <div class="card-header">
        All Orders
      </div>
      <div class="card-body">
        <table #dataTable style="width:100%" class="display nowrap dataTable dtr-inline collapsed">
          <thead>
            <tr>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#detailsModal">
                Details
              </button>
            </tr>
            <tr>
              <th scope="col">Order ID</th>
              <th scope="col">Date/Time</th>
              <th scope="col">Order Type</th>
              <th scope="col">Classification</th>
              <th scope="col">Shipper</th>
           
            </tr>
          </thead>
          <tbody *ngFor="let order of orders" (click)="showDetails=true">
            <tr >
              <!-- <td>
                <a class="float-left" href="javascript:void(0)" data-toggle="modal" data-target="#detailsModal">
                  <i class="far fa-file-alt" style="font-size: 18px; vertical-align: text-bottom; margin-right: 3px"></i>
                </a>
                <a class="float-left" href="javascript:void(0)">
                  <i class="fas fa-angle-right" style="font-size: 28px; vertical-align: sub; margin-top: -4px;margin-right: 3px"></i>
                </a>{{order.id}}</td> -->
                <!-- <td>{{order.orderId}}
                
                </td>

              <td>{{order.createdDatetime | date}}
                
              </td>
              <td>{{order.updatedDatetime | date}}</td>
              <td>{{order.shipmentType}}</td>
              <td>{{order.deliveryPersonName}}</td>
              <td>{{order.deliveryPersonContact}}</td>
             
            </tr>
            <table *ngIf="showDetails">
              <tr *ngFor="let items of order.shipmentOrderItems">
                <td>{{items.trackingNumber}}</td>
                <td>{{items.shipmentTitle}}</td>
                <td>{{items.shipmentOrderId}}</td>
                <td>{{items.receiverName}}</td>
              </tr>
            </table>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>  -->


<table mat-table
       [dataSource]="dataSource" multiTemplateDataRows
       class="mat-elevation-z8">
  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
    <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="example-element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <div class="">

          <!-- <ng-container *ngFor="let rule of element.shipmentOrderItems">
             {{rule.shipmentTitle}} |
             {{rule.receiverName}}
        </ng-container> -->
        <ng-container>
        <table  class="mat-elevation-z8" >
          <tr *ngFor="let rule of element.shipmentOrderItems">
          <td>  {{rule.shipmentTitle}} 
            </td>
            <td>{{rule.receiverName}}</td>
            <td>{{rule.shipmentOrderId}}</td>

          </tr>
        </table>
      </ng-container>

<!-- 
          <div class=""> {{element.shipmentOrderItems.trackingNumber}} </div>
           <div class="example-element-symbol"> {{element.shipmentOrderItems.shipmentTitle}} </div>
          <div class="example-element-name"> {{element.shipmentType}} </div> -->
          <!--<div class="example-element-weight"> {{element.deliveryPersonName}} </div>
          <div class="example-element-weight"> {{element.deliveryPersonName}} </div>
          <div class="example-element-weight"> {{element.deliveryPersonName}} </div> -->
        </div>
    
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>

