<div class="row mt-4">
  <div class="col-12">
    <div class="card card-accent-primary">
      <div class="card-header">
        Bulk Orders Update
      </div>
      <div class="card-body">
        <table #dataTable style="width:100%" class="display nowrap dataTable dtr-inline collapsed">
          <thead>
            <tr>
              <th scope="col">Order ID</th>
              <th scope="col">Date/Time</th>
              <th scope="col">Order Type</th>
              <th scope="col">Classification</th>
              <th scope="col">Shipper</th>
              <th scope="col">Status</th>
              <th scope="col">Outbound Time</th>
              <th scope="col">Location</th>
              <th scope="col">Reciever</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of orders">
              <td>{{order.id}}</td>
              <td>{{order.createdDatetime}}</td>
              <td>{{order.orderType}}</td>
              <td>{{order.shipmentClassification}}</td>
              <td>{{order.shipperId}}</td>
              <td>{{order.status}}</td>
              <td>{{order.transitTime}}</td>
              <td>{{order.shipperWarehouseId}}</td>
              <td>{{order.receiverName}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
