<div class="card mt-4">
    <div class="card-header">
        All Ledgers

    </div>
    <div class="card-body">
        <table style="width:100%" class="display nowrap dataTable dtr-inline collapsed table-responsive">
            <thead>
                <tr>
                    <th scope="col">Status</th>
                    <th scope="col">Ledger ID</th>
                    <th scope="col">Ledger Name</th>
                    <th scope="col">Amount Due</th>
                    <th scope="col">Amount Receiveable</th>
                    <th scope="col">Payment Due Date</th>
                    <th scope="col">Bill View</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Debit</td>
                    <td>45</td>
                    <td>gdfgfg</td>
                    <td>SR 500</td>
                    <td>SR 435</td>
                    <td>15 june</td>
                    <td>3423443</td>
                </tr>
                <tr>
                    <td>Credit</td>
                    <td>12</td>
                    <td>gdfgfg</td>
                    <td>SR 500</td>
                    <td>SR 234</td>
                    <td>15 june</td>
                    <td>3423443</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>