<table style="width:100%" class="display nowrap dataTable dtr-inline collapsed table-responsive">
    <thead>
        <tr>
            <th scope="col">Action</th>
            <th scope="col">Order ID</th>
            <th scope="col">Shipment ID/ Tracking No</th>
            <th scope="col">Shipment Title</th>
            <th scope="col">Delivery Date</th>
            <th scope="col">COD</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <input type="checkbox">
            </td>
            <td>12</td>
            <td>fdsfsdf</td>
            <td>gdfgfg</td>
            <td>dsfds@fdsf</td>
            <td>3423443</td>
        </tr>
    </tbody>
</table>