<div class="card mt-4">
    <div class="card-header">
        All Ledgers

    </div>
    <div class="card-body">
        <table style="width:100%" class="display nowrap dataTable dtr-inline collapsed table-responsive">
            <thead>
                <tr>
                    <th scope="col">Status</th>
                    <th scope="col">Ledger Name</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col">Due Date</th>
                    <th scope="col">Total Amount</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ledger of ledgerList">
                    <td>{{ledger.paymentStatus}}</td>
                    <td>{{ledger.ledgerName}}</td>
                    <td>{{ledger.startDate  | date}}</td>
                    <td>{{ledger.endDate | date}} </td>
                    <td>{{ledger.dueDate | date}}</td>
                    <td>{{ledger.totalAmount}}</td>
                    
                    <td><button (click)="deleteLedger(ledger.id)">Delete</button>
                        <button [routerLink]="['/shipper/addledgers',ledger.id]">Edit</button>
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>