<div class="card card-accent-primary mt-4 users-listing" *ngIf="showlisting">
  <div class="card-header">
    Users
    <button class="btn btn-success float-right" (click)="showaddnew(false)">Add New</button>
    <div class="clearfix"></div>
  </div>
  <div class="card-body">
    <table style="width:100%" class="display nowrap dataTable dtr-inline collapsed table-responsive">
      <thead>
        <!-- <tr>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#detailsModal">
          Details
        </button>
      </tr> -->
        <tr>
          <th scope="col">Action</th>
          <th scope="col">User ID</th>
          <!-- <th scope="col">User Type</th> -->
          <th scope="col">Full Name</th>
          <th scope="col">User Name</th>
          <th scope="col">Email</th>
          <th scope="col">Contact</th>
          <th scope="col">Gendar</th>
          <th scope="col">DOB</th>
          <th scope="col">Designation</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>
            <i style="font-size: 20px; margin-right: 15px; color: #337ab7;" (click)="editUuser(user.userId , false)" class="fa fa-pencil"></i>
            <i style="font-size: 20px;  color: #d9534f;" (click)="deleteUSer(user.userId)" class="fa fa-trash-o"></i>
          </td>
          <!-- <td>
                <button class="btn btn-info">Edit</button>
                <button class="btn btn-primary" (click)="editUuser(user.userId , false)">Edit</button>
                <button class="btn btn-danger" (click)="deleteUSer(user.userId)">Delete</button>
              </td> -->
          <td>{{user.userId}}</td>
          <!-- <td>{{user.roleId}}</td> -->
          <td>{{user.fullName}}</td>
          <td>{{user.userName}}</td>
          <td>{{user.email}}</td>
          <td>{{user.contact}}</td>
          <td>{{user.gender}}</td>
          <td>{{user.dob}}</td>
          <td>{{user.designation}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div>
  <app-add-user *ngIf="!showlisting" (showlisting)="showaddnew($event)"></app-add-user>
</div>e