<div class="card card-accent-primary mt-4 users-listing">
    <div class="card-header">
        COD Collection
        <div class="clearfix"></div>
    </div>
    <div class="card-body">
        <table style="width:100%" class="display nowrap dataTable dtr-inline collapsed table-responsive">
            <thead>
                <tr>
                    <th scope="col">Ledger ID</th>
                    <th scope="col">Ledger Name</th>
                    <th scope="col">Current Balance</th>
                    <th scope="col">Receivable</th>
                    <th scope="col">Payable</th>
                    <th scope="col">Bill View</th>
                    <th scope="col">Ledger Holder</th>
                    <th scope="col">Holder Type</th>
                    <th scope="col">Notes</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let Cod of codCollection">
                    <td>{{Cod.ledgerId}}</td>
                    <td>{{Cod.ledgerName}}</td>
                    <td>{{Cod.currentBalance}}</td>
                    <td>{{Cod.receivable}}</td>
                    <td>{{Cod.payable}}</td>
                    <td>{{Cod.billView}}</td>
                    <td>{{Cod.ledgerHolder}}</td>
                    <td>{{Cod.holderType}}</td>
                    <td>{{Cod.notes}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div>
</div>