<div class="card card-accent-primary mt-4 users-listing">
    <div class="card-header">
        COD Collection
        <div class="clearfix"></div>
    </div>
    <div class="card-body">
        <table style="width:100%" class="display nowrap dataTable dtr-inline collapsed table-responsive">
            <thead>
                <tr>
                    <th scope="col">Shipper ID</th>
                    <th scope="col">Shipper Name</th>
                    <th scope="col">Ledger Name</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col">Total Amount</th>
                    <th scope="col">Payment Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let Cod of codCollection">
                    <td>{{Cod.shipperId}}</td>
                    <td>{{Cod.payeeDetail}}</td>
                    <td>{{Cod.ledgerName}}</td>
                    <td>{{Cod.startDate}}</td>
                    <td>{{Cod.endDate}}</td>
                    <td>{{Cod.totalAmount}}</td>
                    <td>{{Cod.paymentStatus}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div>
</div>