<div class="card margintop50">
  <div *ngIf="!ifEditMode" class="card-header">
    Dealer Signup
  </div>
  <div *ngIf="ifEditMode" class="card-header">
    Edit Dealer
  </div>
  <div class="card-body">
    <div class="wizard-container">
      <aw-wizard>
        <aw-wizard-step stepTitle="Basic Information" [canExit]="basicInfoForm.valid">
          <form class="margintop30" [formGroup]="basicInfoForm">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="firstName">Business Name</label>
                <input type="text" class="form-control" id="firstName" placeholder="Business Name" formControlName="firstName" required>
                <div *ngIf="basicInfoForm.controls['firstName'].touched" class="invalid-feedback">
                  <div *ngIf="basicInfoForm.controls['firstName'].hasError('required')">First Name is required</div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="lastName">Full Name</label>
                <input type="text" class="form-control" id="lastName" placeholder="Full Name" formControlName="lastName" required>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="contact">Contact No</label>
                <input type="text" class="form-control" id="contact" placeholder="Contact No" formControlName="contact" required>
              </div>
              <div class="form-group col-md-6">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Email" formControlName="email" required>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Profile Picture</label>
                <div class="form-group col-md-6">
                  <div class="container">
                    <input type="file" formControlName="profilePicture" name="file" ng2FileSelect [uploader]="uploader" />
                  </div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="dateOfBirth">Date of Birth</label>
                <input type="text" class="form-control" id="dateOfBirth" placeholder="Date of Birth" formControlName="dateOfBirth" required
                  [owlDateTime]="dob" [owlDateTimeTrigger]="dob">
                <owl-date-time [pickerType]="'calendar'" #dob></owl-date-time>
              </div>
            </div>
            <div class="btn-container float-right">
              <button class="btn btn-success" type="button" (click)="showErrorBasicInfoForm()" awNextStep>Next Step</button>
            </div>
          </form>

        </aw-wizard-step>
        <aw-wizard-step stepTitle="Dealer Detail" [canExit]="dealerDetailsForm.valid">
          <form class="margintop30" [formGroup]="dealerDetailsForm">
            <div class="form-group">
              <label>Select Location</label>
              <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
                <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true" (dragEnd)="markerDragEnd($event)"></agm-marker>
              </agm-map>
              <div class="form-row mt-2">
                <div class="form-group col-md-6">
                  <div>Latitude:
                    <!-- {{latitude}} -->
                    <input class="form-control" formControlName="locationLatitude" type="text" value={{latitude}} />
                  </div>

                </div>
                <div class="form-group col-md-6">
                  <div>Longitude:
                    <input class="form-control" formControlName="locationLongitude" type="text" value={{longitude}} />
                  </div>
                </div>
              </div>

            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="address">Address</label>
                <input type="text" class="form-control" id="address" placeholder="Address" formControlName="address" required>
              </div>
              <div class="form-group col-md-6">
                <label>Select Country</label>
                <select id="selectid" class="form-control" formControlName="country" (change)="getCityData($event.target.value)">
                  <option value="">---Select Country---</option>
                  <option [value]="country.code" *ngFor="let country of allCountryList">{{country.name}}</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label>Select City</label>
                <select id="selectid" class="form-control" formControlName="city">
                  <option value="">---Select City---</option>
                  <option [value]="city" *ngFor="let city of allcities">{{city}}</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="zipCode">Zip Code</label>
                <input type="text" class="form-control" id="zipCode" placeholder="Zip Code" formControlName="postCode" required>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="nicNumber">Iqama/NIC/Passport No</label>
                <input type="text" class="form-control" id="nicNumber" placeholder="Iqama/NIC/Passport No" formControlName="nicNumber" required>
              </div>
              <div class="form-group col-md-6">
                <label for="inputEmail4">Iqama/NIC/Passport Copy Upload</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                  </div>
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="crNumber">CR No</label>
                <input type="text" class="form-control" id="crNumber" placeholder="CR No" formControlName="crNumber" required>
              </div>
              <div class="form-group col-md-6">
                <label for="inputEmail4">CR Copy</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                  </div>
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="btn-container float-right">
              <button class="btn btn-secondary dark-grey" type="button" awPreviousStep>Go to previous step</button>
              <button class="btn btn-success" type="button" (click)="showErrorDealerDetailsForm()" awNextStep>Next step</button>
            </div>
          </form>

        </aw-wizard-step>
        <aw-wizard-step stepTitle="Contract Details" [canExit]="contractDetailsForm.valid">
          <form class="margintop30" [formGroup]="contractDetailsForm">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="compensationClearanceDuration">Compensation Clearence Duration (Days)</label>
                <input type="text" class="form-control" id="compensationClearanceDuration" placeholder="Compensation Clearence Duration"
                  formControlName="compensationClearanceDuration" required>
              </div>
              <div class="form-group col-md-6">
                <label for="preShipmentCompensation">Pre Shipments Compensation (SAR)</label>
                <input type="text" class="form-control" id="preShipmentCompensation" placeholder="Pre Shipment Compensation" formControlName="preShipmentCompensation"
                  required>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="contractStartDate">Contract Starting</label>
                <input type="text" class="form-control" id="contractStartDate" placeholder="Contract Starting" formControlName="contractStartDate"
                  required [owlDateTime]="contractStartDate" [owlDateTimeTrigger]="contractStartDate">
                <owl-date-time [pickerType]="'calendar'" #contractStartDate></owl-date-time>
              </div>
              <div class="form-group col-md-6">
                <label for="contractValidToDate">Contract Valid Till</label>
                <input type="text" class="form-control" id="contractValidToDate" placeholder="Contract Valid Till" formControlName="contractValidToDate"
                  required [owlDateTime]="contractValidToDate" [owlDateTimeTrigger]="contractValidToDate">
                <owl-date-time [pickerType]="'calendar'" #contractValidToDate></owl-date-time>
              </div>




            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="bankName">Bank Name</label>
                <select class="form-control" id="bankName" formControlName="bankName">
                  <option value="">Select Bank Name</option>
                  <option value="The National Commercial Bank">The National Commercial Bank </option>
                  <option value="The Saudi British Bank">The Saudi British Bank </option>
                  <option value="Saudi Investment Bank">Saudi Investment Bank </option>
                  <option value="Alinma Bank">Alinma Bank </option>
                  <option value="Banque Saudi Fransi"> Banque Saudi Fransi </option>
                  <option value="Riyad Bank"> Riyad Bank </option>
                  <option value="Samba Financial Group (Samba)"> Samba Financial Group (Samba) </option>
                  <option value="Alawwal Bank"> Alawwal Bank </option>
                  <option value="Al Rajhi Bank"> Al Rajhi Bank </option>
                  <option value="Arab National Bank"> Arab National Bank </option>
                  <option value="Bank AlBilad"> Bank AlBilad </option>
                  <option value="Bank AlJazira"> Bank AlJazira </option>
                  <option value="Gulf International Bank Saudi Aribia (GIB-SA)"> Gulf International Bank Saudi Aribia (GIB-SA) </option>
                </select>
                <!-- <input type="text" class="form-control" id="bankName" placeholder="Bank Name" formControlName="bankName" required> -->
              </div>
              <div class="form-group col-md-6">
                <label for="iban">IBAN</label>
                <input type="text" class="form-control" id="iban" placeholder="IBAN" formControlName="iban" required>
              </div>
            </div>
            <div class="btn-container float-right">
              <button class="btn btn-secondary dark-grey" type="button" awPreviousStep>Go to previous step</button>
              <button class="btn btn-success" type="button" (click)="showErrorContractDetailsForm()" awNextStep>Next step</button>
            </div>
          </form>

        </aw-wizard-step>
        <aw-wizard-step stepTitle="Credentials" [canExit]="securityForm.valid">
          <form class="margintop30" [formGroup]="securityForm">
            <div class="form-row">
              <!-- <div class="form-group col-md-6">
                <label for="inputEmail4">User ID</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="User ID">
              </div> -->
              <div class="form-group col-md-6">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" placeholder="Passsword" formControlName="username" required>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="password">Passsword</label>
                <input type="password" class="form-control" id="password" placeholder="Passsword" formControlName="password" required>
              </div>
            </div>
            <div class="btn-container float-right">
              <button class="btn btn-secondary dark-grey" type="button" awPreviousStep>Previous Step</button>
              <button *ngIf="ifEditMode" class="btn btn-success" type="button" (click)="updateFunction()">Update</button>
              <button *ngIf="!ifEditMode" [disabled]="!securityForm" class="btn btn-success" type="button" (click)="finishFunction()">Finish</button>
            </div>
          </form>

        </aw-wizard-step>
      </aw-wizard>
    </div>
  </div>
</div>