<div class="card card-accent-primary mt-4 users-listing">
  <div class="card-header">
    Pending Orders
    <div class="clearfix"></div>
  </div>
  <div class="card-body">
    <table style="width:100%" class="display nowrap dataTable dtr-inline collapsed table-responsive">
      <thead>
        <!-- <tr>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#detailsModal">
            Details
          </button>
        </tr> -->
        <tr>
          <th scope="col">Order Id</th>
          <!-- <th scope="col">User Type</th> -->
          <th scope="col">Pickup Type</th>
          <th scope="col">Shipment Type</th>
          <th scope="col">Delivery Person Name</th>
          <th scope="col">Delivery Person Contact</th>
          <th scope="col">Status</th>
          <th scope="col">Created Date</th>
          <th scope="col">Updated Date</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pendingshipment of pendingshipments">
          <td>{{pendingshipment.orderId}}</td>
          <td>{{pendingshipment.pickupType}}</td>
          <td>{{pendingshipment.shipmentType}}</td>
          <td>{{pendingshipment.deliveryPersonName}}</td>
          <td>{{pendingshipment.deliveryPersonContact}}</td>
          <td>{{pendingshipment.status}}</td>
          <td>{{pendingshipment.createdDatetime | date}}</td>
          <td>{{pendingshipment.updatedDatetime | date}}</td>

          <!-- <td>
            <button class="btn btn-info">Edit</button>
            <button class="btn btn-primary" (click)="editUuser(user.userId , false)">Edit</button>
              <button class="btn btn-danger" (click)="deleteUSer(user.userId)">Delete</button>
          </td> -->

        </tr>
      </tbody>
    </table>
  </div>
</div>