<div class="row mt-4">
  <div class="col-12">
    <div class="card card-accent-primary">
      <div class="card-header">
        Delivery Orders
      </div>
      <div class="card-body">
        <table #dataTable style="width:100%" class="display nowrap dataTable dtr-inline collapsed">
          <thead>
            <tr>
              <th scope="col">Order ID</th>
              <th scope="col">Date/Time</th>
              <th scope="col">Delivery Location</th>
              <th scope="col">Classification</th>
              <th scope="col">No. of Shipments</th>
              <th scope="col">Status</th>
              <th scope="col">Assigned to Driver</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>3242234</td>
              <td>1/1/2010</td>
              <td>Point 23 / Zone A</td>
              <td>Single</td>
              <td>5</td>
              <td>Active</td>
              <td>Salman</td>
            </tr>
            <tr>
              <td>3242234</td>
              <td>1/1/2010</td>
              <td>Point 23 / Zone A</td>
              <td>Single</td>
              <td>5</td>
              <td>Active</td>
              <td>Salman</td>
            </tr>
            <tr>
              <td>3242234</td>
              <td>1/1/2010</td>
              <td>Point 23 / Zone A</td>
              <td>Single</td>
              <td>5</td>
              <td>Active</td>
              <td>Salman</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>