<div class="card card-accent-primary mt-4 users-listing">
    <div class="card-header">
        Dealer Dashboard
        <div class="clearfix"></div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="card text-white bg-info">
                    <div class="card-body pb-4">
                        <div class="text-value">{{getDashboard.monthlyReceivable}}</div>
                        <div>Monthly Receivable</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="card text-white bg-primary">
                    <div class="card-body pb-4">
                        <div class="text-value">{{getDashboard.monthlyPayable}}</div>
                        <div>Monthly Payable</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="card text-white bg-warning">
                    <div class="card-body pb-4">
                        <div class="text-value">{{getDashboard.monthlyCodCollection}}</div>
                        <div>COD Collection Monthly</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="card text-white bg-danger">
                    <div class="card-body pb-4">
                        <div class="text-value">{{getDashboard.currentBalance}}</div>
                        <div>Current Balance</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="card text-white bg-info">
                    <div class="card-body pb-4">
                        <div class="text-value">{{getDashboard.dueAmount}}</div>
                        <div>Due Amount</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="card text-white bg-primary">
                    <div class="card-body pb-4">
                        <div class="text-value">{{getDashboard.totalExpense}}</div>
                        <div>Total Expense</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>