<div class="row mt-4" *ngIf="showlisting">
  <div class="col-12">
    <div class="card card-accent-primary">
      <div class="card-header" *ngIf="showlisting">
        All Sarokh Warehouse

      </div>
      <div class="card-header" *ngIf="!showlisting">
        Add Sarokh Warehouse

      </div>
      <button class="btn btn-primary float-right custom-position" (click)="addNew(false)">Add New</button>
      <div class="card-body">
        <div class="map-img" *ngIf="showmap">
          <div class="container">

            <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
              <agm-marker *ngFor="let location of mapLocations; " [latitude]="location.latitude" [longitude]="location.longitude">
              </agm-marker>
            </agm-map>

          </div>
        </div>
        <table #dataTable style="width:100%" class="display nowrap dataTable dtr-inline collapsed">
          <thead>
            <!-- <tr>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#detailsModal">
                  Details
                </button>
              </tr> -->
            <tr>
              <th scope="col">Warehouse ID</th>
              <th scope="col">Name</th>
              <th scope="col">Manager Name</th>
              <th scope="col">Manager Contact</th>
              <th scope="col">Adress</th>
              <th scope="col">City</th>
              <th scope="col">Actions</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let sarokhwhlist of sarokhwearhouselist">

              <td>{{sarokhwhlist.id}}</td>
              <td>{{sarokhwhlist.name}}</td>
              <td>{{sarokhwhlist.managerName}}</td>
              <td>{{sarokhwhlist.mangerContact}}</td>
              <td>{{sarokhwhlist.address}}</td>
              <td>{{sarokhwhlist.city}}</td>
              <td>
                <button class="btn btn-primary" (click)="EditWarehouse(sarokhwhlist.id)">Edit</button>
                <button class="btn btn-danger" (click)="DeleteWearhouse(sarokhwhlist.id)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>

        <!-- <ag-grid-angular style="width: 100%; height: 500px" class="ag-theme-alpine" [rowData]="rowData" [columnDefs]="columnDefs">
        </ag-grid-angular> -->

      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<app-addsarokhwearhouse *ngIf="!showlisting" (showlisting)="addNew($event)"></app-addsarokhwearhouse>