<div class="card card-accent-primary mt-4 users-listing">
    <div class="card-header">
        COD Shipments
        <div class="clearfix"></div>
    </div>
    <div class="card-body">
        <table style="width:100%" class="display nowrap dataTable dtr-inline collapsed table-responsive">
            <thead>
                <tr>
                    <th></th>
                    <th scope="col">Tracking No</th>
                    <th scope="col">Date/Time</th>
                    <th scope="col">Receiver Name</th>
                    <th scope="col">COD Amount</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let codShipment of codShipmentList">
                    <td>
                        <i style="font-size: 20px; color: #337ab7;" (click)=viewOrder(codShipment.id) class="fa fa-info-circle float-right mr-2 mb-3"></i>
                    </td>
                    <td>{{codShipment.orderId}}</td>
                    <td>{{codShipment.dateTime}}</td>
                    <td>{{codShipment.receiverName}}</td>
                    <td>{{codShipment.codAmount}}</td>
                    <td>{{codShipment.status}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div>
</div>