<div class="card card-accent-primary mt-4 users-listing">
    <div class="card-header">
        COD Shipments
        <div class="clearfix"></div>
    </div>
    <div class="card-body">
        <table style="width:100%" class="display nowrap dataTable dtr-inline collapsed table-responsive">
            <thead>
                <tr>
                    <th scope="col">Shipment ID</th>
                    <th scope="col">Creation Date/Time</th>
                    <th scope="col">Receiver Name</th>
                    <th scope="col">COD Amount</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let codShipment of codShipmentList">
                    <td>{{codShipment.orderId}}</td>
                    <td>{{codShipment.dateTime}}</td>
                    <td>{{codShipment.receiverName}}</td>
                    <td>{{codShipment.codAmount}}</td>
                    <td>{{codShipment.status}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div>
</div>